<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	<bean id="TagDAO" class="net.bzresults.astmgr.dao.TagDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="FolderDAO" class="net.bzresults.astmgr.dao.FolderDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AssetDAO" class="net.bzresults.astmgr.dao.AssetDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="assetLocationMapper" class="net.bzresults.astmgr.beans.AssetLocationMapper">
		<!--  first is map of protocol to url, 2nd is map of protocol to file system -->
		<constructor-arg>
			<map>
				<entry key="assets://" value="http://media.bzresults.net/assets/" />
				<entry key="autodata://" value="http://media.bzresults.net/vdc/standard/" />
				<entry key="oemlogos://" value="http://media.bzresults.net/plugins/media/" />				
			</map>
		</constructor-arg>
		<constructor-arg>
			<map>
				<entry key="assets://" value="/var/www/bzwebs/assets/" />
				<entry key="autodata://" value="/var/www/bzwebs/media.bzresults.net/vdc/standard/" />
				<entry key="oemlogos://" value="/var/www/bzwebs/media.bzresults.net/plugins/media/" />
			</map>
		</constructor-arg>
		<!--  apec base path ... special case because will still need to have clients serverid added after that -->
		<constructor-arg>
			<value>/var/www/bzwebs/apec/</value>
		</constructor-arg>
	</bean>
	<bean id="fsdam" class="net.bzresults.astmgr.FSAssetManager">
		<property name="assetLocationMapper">
			<ref bean="assetLocationMapper" />
		</property>
	</bean>
</beans>